body{
    background-color: pink;
    border: 6px solid violet;
    border-radius: 10%;
    border-style: dotted;
    background-image: url("galaxy.jpg");
}
h1{
    font-family: sans-serif;
    text-align: center;
    color: darkblue;
    background-color: powderblue;
    opacity: 0.5;
    margin-left: 30%;
    margin-right: 30%;
}
p{
    font-size: 24px;
    text-align: justify;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    color: darkblue;
    text-indent: 0.5in;
    opacity: 0.5;

}
ul{
    list-style-type: disc;
    font-size: 150%;
    margin-left: 10%;
    border: 2px solid black;
    margin-right: 50%;
    background-color: darkgrey;
    opacity: 0.5;
}
img{
    width: 350;
    height: 400;
    border-radius: 50%;
}