form{
    text-align: center;
    border: 2px solid  white;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
    border-radius: 8%;
    opacity: 0.9;
}
body{
    background-image: url("mountain.jpg");
}
img{
    width: 100;
    height: 100;
}